<h1>Ваше бронювання</h1>
<p>
  {{ booking.screening.movie.title }} ({{ booking.screening.date}} о
  {{booking.screening.start_time}})
</p>
<p>Квитки:</p>
<ul>
  {% for ticket in tickets %}
  <li>
    Місце: {{ ticket.seat }} — {{ ticket.price }} грн
    <a href="{% url 'remove_ticket_from_booking' ticket.id %}">Видалити</a>
  </li>
  {% endfor %}
</ul>
<p>Загальна вартість: {{ total_cost }} грн</p>
<a href="{% url 'choose_seat' booking.screening.id %}">Додати ще квиток</a>
<a href="{% url 'payment_form' booking.id %}">Перейти до оплати</a>
